
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    width: 25%;
    padding: 20px;
    text-align: center;
    border: 3px solid #333;
    border-radius: 4px;
    position: relative;
    margin: 10px auto;
}
h2::after{
    content: '';
    background-color: #fff;
    width: 30px;
    height: 10px;
    position: absolute;
    top: 95%;
    left: 0;
    bottom: 0;
}
h2::before{
    content: '';
    background-color: #333;
    width: 3px;
    height: 20px;
    position: absolute;
    left: 30px;
    bottom: 0;
}
